---
title: Bookmarks
layout: default
navBarSize: small
---
<div class="wrap-collabsible">
{% for category in site.bookmarks %}
  <input id="collapsible{{category.name}}" class="toggle" type="checkbox">
  <label for="collapsible{{category.name}}" class="lbl-toggle">{{ category.name }}</label>
  <div class="collapsible-content">
    <div class="content-inner">
	<table>
   {% for bookmark in category.bookmarks %}
		<tr>
			<td><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></td>
			<td>{{ bookmark.url }}</td>
		</tr>
   {% endfor %}
	</table>
    </div>
  </div>
{% endfor %}
</div>

