#nav_bar{
ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #d39641;
}

li {
	display: inline-block;
//    float: left;
    border-right:1px solid #222;
}

li:last-child {
    border-right: none;
}

li a {
	font-size: 40px;
    display: block;
    color: #7c5825;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
}

