#nav_bar{
ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
//	background-color: #d39641;
	background-color: $theme_color;
}

li {
	display: inline-block;
//    float: left;
    border-right:1px solid #222;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: $theme_color_light;
    text-align: center;
    text-decoration: none;
}

ul.large{
	font-size: 40px;
	a{
		padding: 0px 15px 0px 15px;
	}
}

ul.small{
	font-size: 20px;
	a{
		padding: 0px 15px 0px 15px;
	}
}

li a:hover:not(.active) {
//    background-color: #111;
    background-color: $theme_color_complement;
}

.active {
    background-color: #4CAF50;
}
}

